<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>

</head>
<body>
    <h2>welcome {{current_user.username}}</h2>
    <h3> Add task </h3>
    <form method="POST" action ="/add-task">
        <input type ="text" name="content" placeholder="Enter your task " required>
        <br>
        <button type="submit">ADD</button>
    </form>>
    <h3> your Tasks </h3>
    <ul>
        {% for task in tasks %}
            <li>{{task.content}}</li>
            <a href="{{ url_for('task.delete_task',task_id=task.id)}}">REMOVE</a>
        {% else %}
            <li>No tasks yet</li>
        {% endfor %}    
    </ul>
    <a href="/logout">Logout</a>
   
    
</body>
</html>