{% extends "base.html" %}

{% block content %}

<div class="dashboard">
  <div class="container">

    <h2>Welcome, {{current_user.username | capitalize}} 👋</h2>

    <div class="task-card">
        <h3>Add a New Task</h3>

        <form method="POST" action="/add-task">
            <input type="text" name="content" placeholder="What do you want to do today?" required>

            <div class="task-actions">
                <button type="submit">Add Task</button>
                <a href="{{ url_for('task.taskboard') }}">Task Board</a>
            </div>
        </form>
    </div>

  </div>
</div>
{% endblock %}